
body { 
    width: 100%;
    margin: auto;
background-color: aquamarine;
position: relative;
}

h1 {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 45px; 
    font-weight: bolder;
    color: #21005b; 
    text-align: center; 
    position: absolute;
    top: 0px;
    left: 75px;
    right: 75px;
}


.mycontainer {
width: 100%;
max-width: 800px;
margin: 0% auto;
padding-top: 56.25%;
margin-top: 100px;
position: relative;
overflow: hidden;
padding-top: 56.25%;   
}



.myiframe {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
border: none;
}

@media screen and (max-width: 800px) {
   body { 
     width: 95%;
     }
}
            

@media screen and (max-width: 60em) {
    body
    {
    background-color: rgb(111, 214, 210);
    }
    
    }
    @media only screen and (max-width : 50em) {
    body
    {
    background-color: red;
    }
    
    }
    
    @media only screen and (max-width : 40em) {
    body {
    background-color: green;
    }
    }
    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 0px;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    